[Unit]
Description=Mythfrontend music mount
After=remote-fs-pre.target
Wants=remote-fs-pre.target
Before=remote-fs.target

[Mount]
What=glidos.site:/home/public/MP3
Where=/home/mythfrontend/music
Type=nfs

[Install]
RequiredBy=remote-fs.target
